html {
  background-color: black;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

main {
  line-height: 25px;
  margin: 7px;
  padding: 7px;
}

h1 {
  font-family: "Vidaloka", serif;
  text-transform: uppercase;
  color: black;
}

h2 {
  font-family: "Vidaloka", serif;
  color: white;
}

p {
  font-family: "Lato", sans-serif;
  color: white;
}

footer {
  color: white;
  font-size: 20px;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px solid #fff;
}
/***************  Sektions   ****************/

#first_section {
  grid-column: 1/6;

  width: 100%;
  height: 100vh;
  background-image: url(img/splash.webp);
  background-size: cover;
  background-position: 20% 10%;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  display: grid;
  place-content: start;
}

#first_section h1 {
  grid-column: 2/6;
  grid-row: 3/5;
  align-content: start;
  font-size: 30px;
}

@media (orientation: portrait) and (min-width: 600px) {
  #first_section {
    width: 100%;
    height: 56.25vw;
  }
}

@media (min-width: 1000px) {
  #first_section h1 {
    grid-column: 2/6;
    grid-row: 3/5;
    align-content: start;
    font-size: 40px;
  }

  #second_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 10px;
  }

  #second_section p {
    padding-left: 10px;
    margin-top: 0;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  #third_section .col {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #fourth_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
